
{% extends 'core/base.html' %}
{% load static %}
    {% block content %}

<!-- <div class="element-one">
    <img src = "{% static 'img/element-img-1.png" alt = "">
</div> -->

<div class="banner">
    <div class="container">
        <div class="banner-content">
            <div class="banner-left">
                <div class="content-wrapper">
                    <h1 class="banner-title">Virtual AI Healthcare <br> for you</h1>
                    <p class="text text-white">Dermai provides progressive and affordable healthcare, accessible on mobile and online for everyone, powered by artificial intelligence.</p>
                    <a href = "#" class="btn btn-secondary">Consult today</a>
                </div>
            </div>

            <div class = "banner-right d-flex align-items-center justify-content-end">
                <img src = "{% static 'img/piel_intro.jpg' %}" alt = "">
            </div>
        </div>
    </div>
</div>
</header>
<!-- end of header -->

<main>
<section class = "sc-services">
    <div class = "services-shape">
        <img src = "{% static 'img/curve-shape-1.png' %}" alt = "">
    </div>
    <div class="container">
        <div class = "services-content">
            <div class="title-box text-center">
                <div class = "content-wrapper">
                    <h3 class = "title-box-name">Our services</h3>
                    <div class = "title-separator mx-auto"></div>
                    <p class = "text title-box-text">We offer you the best options tailored to your dermatological health needs. Consult with us to determine the most appropriate type of analysis and receive a reliable diagnosis through our AI-powered image scanning system for detecting skin cancer.</p>
                </div>
            </div>

            <div class = "services-list">
                <div class = "services-item">
                    <div class = "item-icon">
                        <img src = "{% static 'img/icon-favicon-1.png' %}" alt = "service icon">
                    </div>
                    <h5 class = "item-title fw-7">AI Image Scan for Cancer Detection</h5>
                    <p class = "text">Choose a specialist from thousands of trusted general and specialized hospitals.</p>
                </div>

                <div class = "services-item">
                    <div class = "item-icon">
                        <img src = "{% static 'img/icon-favicon-2.png' %}" alt = "service icon">
                    </div>
                    <h5 class = "item-title fw-7">Online pharmacy</h5>
                    <p class = "text">Buy your medicines with our mobile application with a simple delivery system</p>
                </div>

                <div class = "services-item">
                    <div class = "item-icon">
                        <img src = "{% static 'img/icon-favicon-3.png' %}" alt = "service icon">
                    </div>
                    <h5 class = "item-title fw-7">Consultation</h5>
                    <p class = "text">Free consultation with our trusted doctors and get the best recommendations.</p>
                </div>

                <div class = "services-item">
                    <div class = "item-icon">
                        <img src = "{% static 'img/icon-favicon-4.png' %}" alt = "service icon">
                    </div>
                    <h5 class = "item-title fw-7">Details info</h5>
                    <p class = "text">Free consultation with our trusted doctors and get the best recommendations.</p>
                </div>

                <div class = "services-item">
                    <div class = "item-icon">
                        <img src = "{% static 'img/icon-favicon-5.png' %}" alt = "service icon">
                    </div>
                    <h5 class = "item-title fw-7">Emergency care</h5>
                    <p class = "text">You can get 24/7 urgent care for yourself or your children and your lovely family.</p>
                </div>

                <div class = "services-item">
                    <div class = "item-icon">
                        <img src = "{% static 'img/icon-favicon-6.png' %}" alt = "service icon">
                    </div>
                    <h5 class = "item-title fw-7">Tracking</h5>
                    <p class = "text">Track and save your mental history and health data</p>
                </div>
            </div>

            <div class = "d-flex align-items-center justify-content-center services-main-btn">
                <button type = "button" class = "btn btn-primary-outline">Learn more</button>
            </div>
        </div>
    </div>
</section>

<section class = "sc-grid sc-grid-one">
    <div class="container">
        <div class = "grid-content d-grid align-items-center">
            <div class = "grid-img">
                <img src = "{% static 'img/consulta-medico-2.jpg' %}" alt = "">
            </div>
            <div class = "grid-text">
                <div class = "content-wrapper text-start">
                    <div class = "title-box">
                        <h3 class = "title-box-name text-white">Leading healthcare providers</h3>
                        <div class = "title-separator mx-auto"></div>
                    </div>

                    <p class = "text title-box-text text-white">Dermai provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it's not just work. We take pride in the solutions we deliver</p>
                    <button type = "button" class = "btn btn-white-outline">Learn more</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class = "sc-grid sc-grid-two">
    <div class = "container">
        <div class = "grid-content d-grid align-items-center">
            <div class = "grid-img">
                <img src = "{% static 'img/servicio-izquierda.jpg' %}" alt = "">
            </div>
            <div class = "grid-text">
                <div class = "content-wrapper text-start">
                    <div class = "title-box">
                        <h3 class = "title-box-name">Download our mobile apps</h3>
                        <div class = "title-separator mx-auto"></div>
                    </div>
                    <p class = "text title-box-text">Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely</p>
                    <button type = "button" class = "btn btn-primary-outline">
                        Download
                        <img src = "{% static 'img/arrow-down.svg' %}" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class = "sc-feedback">
    <div class="container">
        <div class = "feedback-content">
            <!-- <div class = "feedback-element">
                <img src = "{% static 'img/element-img-3.png">
            </div> -->
            <!-- <div class="feedback-element-2">
                <img src = "{% static 'img/element-img-5.png">
            </div> -->
            <div class = "title-box text-center">
                <div class = "content-wrapper">
                    <h3 class = "title-box-name text-white">What our customer are saying</h3>
                    <div class = "title-separator mx-auto"></div>
                </div>
            </div>

            <div class = "feedback-list feedback-slider owl-carousel owl-theme">
                <div class = "feedback-item d-grid">
                    <div class = "item-left d-flex align-items-center">
                        <div class = "item-img">
                            <img src = "{% static 'img/Axel.jfif' %}" alt = "">
                        </div>
                        <div class = "item-info text-white">
                            <p class = "fw-7 name">Axel Hetru</p>
                            <span class = "designation fw-4">Founder Circle</span>
                        </div>
                    </div>
                    <div class = "item-right">
                        <p class = "text text-white">"Our dedicated patient engagement app and web portal allow you to access information instantaneoulsy (no tedeous form, long calls, or administrative hassle) and securely"</p>
                    </div>
                </div>

                <div class = "feedback-item d-grid">
                    <div class = "item-left d-flex align-items-center">
                        <div class = "item-img">
                            <img src = "{% static 'img/Roberta.jfif' %}" alt = "">
                        </div>
                        <div class = "item-info text-white">
                            <p class = "fw-7 name">Roberta Giuliani
                            </p>
                            <span class = "designation fw-4">Founder Circle</span>
                        </div>
                    </div>
                    <div class = "item-right">
                        <p class = "text text-white">"Our dedicated patient engagement app and web portal allow you to access information instantaneoulsy (no tedeous form, long calls, or administrative hassle) and securely"</p>
                    </div>
                </div>

                <div class = "feedback-item d-grid">
                    <div class = "item-left d-flex align-items-center">
                        <div class = "item-img">
                            <img src = "{% static 'img/juan.jfif' %}" alt = "">
                        </div>
                        <div class = "item-info text-white">
                            <p class = "fw-7 name">Juan Arcila</p>
                            <span class = "designation fw-4">Founder Circle</span>
                        </div>
                    </div>
                    <div class = "item-right">
                        <p class = "text text-white">"Our dedicated patient engagement app and web portal allow you to access information instantaneoulsy (no tedeous form, long calls, or administrative hassle) and securely"</p>
                    </div>
                </div>

                <div class = "feedback-item d-grid">
                    <div class = "item-left d-flex align-items-center">
                        <div class = "item-img">
                            <img src = "{% static 'img/' %}" alt = "">
                        </div>
                        <div class = "item-info text-white">
                            <p class = "fw-7 name">Outman</p>
                            <span class = "designation fw-4">Founder Circle</span>
                        </div>
                    </div>
                    <div class = "item-right">
                        <p class = "text text-white">"Our dedicated patient engagement app and web portal allow you to access information instantaneoulsy (no tedeous form, long calls, or administrative hassle) and securely"</p>
                    </div>
                </div>
                <div class = "feedback-item d-grid">
                    <div class = "item-left d-flex align-items-center">
                        <div class = "item-img">
                            <img src = "{% static 'img/' %}" alt = "">
                        </div>
                        <div class = "item-info text-white">
                            <p class = "fw-7 name">Nil</p>
                            <span class = "designation fw-4">Founder Circle</span>
                        </div>
                    </div>
                    <div class = "item-right">
                        <p class = "text text-white">"Our dedicated patient engagement app and web portal allow you to access information instantaneoulsy (no tedeous form, long calls, or administrative hassle) and securely"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class = "sc-articles">
    <div class = "articles-shape">
        <img src = "{% static 'img/curve-shape-2.png' %}" alt = "">
    </div>
    <div class = "container">
        <div class = "articles-content">
            <!-- <div class = "articles-element">
                <img src = "{% static 'img/element-img-2.png" alt = "">
            </div> -->
            <div class = "title-box text-center">
                <div class = "content-wrapper">
                    <h3 class = "title-box-name">Check out our latest article</h3>
                    <div class = "title-separator mx-auto"></div>
                </div>
            </div>
            
            <div class = "articles-list d-flex flex-wrap justify-content-center">
                <article class = "articles-item">
                    <div class = "item-img">
                        <img src = "{% static 'img/laboratorio.jpg' %}">
                    </div>
                    <div class = "item-body">
                        <div class = "item-title">Disease detection, check up in the laboratory</div>
                        <p class = "text">In this case, the role of the health laboratory is very important to do a disease detection ...</p>
                        <a href = "#" class = "item-link text-blue d-flex align-items-baseline">
                            <span class = "item-link-text">Read more</span>
                            <span class = "item-link-icon">
                                <i class = "fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </article>

                <article class = "articles-item">
                    <div class = "item-img">
                        <img src = "{% static 'img/medicina.jpg' %}">
                    </div>
                    <div class = "item-body">
                        <div class = "item-title">Herbal medicines that are safe for consumption</div>
                        <p class = "text">Herbal medicine is very widely used at this time because of its very good for your health ...</p>
                        <a href = "#" class = "item-link text-blue d-flex align-items-baseline">
                            <span class = "item-link-text">Read more</span>
                            <span class = "item-link-icon">
                                <i class = "fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </article>

                <article class = "articles-item">
                    <div class = "item-img">
                        <img src = "{% static 'img/crema.jpg' %}">
                    </div>
                    <div class = "item-body">
                        <div class = "item-title">Natural care for healthy facial skin</div>
                        <p class = "text">A healthy lifestyle should start from now and also for your skin health ...</p>
                        <a href = "#" class = "item-link text-blue d-flex align-items-baseline">
                            <span class = "item-link-text">Read more</span>
                            <span class = "item-link-icon">
                                <i class = "fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
</main>
{%end block%}